/* body{
    margin: 0;
    padding: 0;
    background-color: #F8F7F5;
}
.search-area{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-20%);
}
.search-area input{
    width: 400px;
    background-color: #E5E5E5;
    height: 50px;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 0px 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.search-area button{
    width: 100px;
    height: 50px;
    background-color: #F06C4E;
    color: #fff;
    outline: none;
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    cursor: pointer;
}
#invalid{
    display: none;
}
img{
    width: 100%;
    border-radius: 10px;
}
#foodGallery{
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;

}
.new-div{
    position: relative;
    background-color: #F06C4E;
    width: 300px;
    margin-left: 50px;
    border-radius: 10px;
}
.new-div h1{
    font-size: 20px;
    text-align: center;
}
#foodDetails{
    background-color: #F06C4E;
    border-radius: 10px;
} */












*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #000;
    font-family: poppins;
}
.header{
    width: 100%;
    position: fixed;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    margin: 0px 40px;
    padding: 10px 30px;
}
.nav-menu ul{
    list-style: none;
    display: flex;
}
.nav-menu ul li{
    padding: 10px;
}
.nav-menu ul li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
.brand-title{
    cursor: pointer;
}
/* Header Part End */

.input-area{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-20%);
}
.input-area input{
    width: 450px;
    height: 50px;
    border: none;
    padding: 10px;
    border-radius: 10px 0px 0px  10px;
    background-color: aliceblue;
}
.input-area button{
    padding: 10px;
    width: 100px;
    font-size: 20px;
    border: none;
    background-color: tomato;
    color: #fff;
    height: 50px;
    cursor: pointer;
}
/* Input Area End */

#divContainer{
    margin-top: 250px;
    position: absolute;
    display: flex;
    margin-left: 120px;
    flex-wrap: wrap;
}
.single-div{
    background-color: tomato;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}
.single-div img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.single-div h2{
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}
.modal{
    height: 600px;
    width: 400px;
    background-color: #ffffff;
    color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: -7px 3px 37px -12px #000000;
    position: fixed;
    z-index: 1;
    border-radius: 10px;
}
.modal img{
    width: 100%;
    padding: 10px;
    height: 320px;
}
.modal h5{
    padding: 10px;
    font-size: 16px;
    color: #313131;
}
.modal p{
    margin-left: 10px;
    color: rgb(39, 39, 39);
}
.modal i{
    color: tomato;
}
.modal h2{
    margin-left: 10px;
    color: #313131;
}
#error{
    position: absolute;
    top: 40%;
    font-size: 30px;
    left: 50%;
    transform: translate(-50%,-30%);
}